.logo-container{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    margin: 15px 5px 5px 5px;
    
}

img{
    background-image: linear-gradient(#2193b0, #6dd5ed);
    box-shadow:         3px 3px 5px 6px #ccc;
}

img:hover{
    background-image: linear-gradient(#6dd5ed, #2193b0);
}